{% extends 'base.html' %}
{% load lr_filters %}


{% block content %}
<!-- Thumbnail -->
<section class="content d-flex justify-content-center">
    <img src="{{game.thumbnail}}" alt="thumbnail">
</section>

<div class="row mx-5 px-5 d-flex justify-content-end pt-3">
    <div class="button-save mx-5">
        <a href="{% url 'savegame' game.id %}">
            <button class="btn btn-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
                Save Game
            </button>
        </a>
    </div>
</div>

<!-- Conteudo da página-->
<section class="content d-flex justify-content-center mt-5">
    <div class="row mx-5 px-5">
        <h1 class="text-center">{{game.title}}</h1>
        <p class="px-5 mt-3 indent">{{game.description}}</p>

        <h2 class="text-center mt-5">
            Informations
        </h2>
        <div class="px-5 mt-3">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class="fw-bold">Genre</td>
                        <td>{{game.genre}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Platform</td>
                        <td>{{game.platform}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Publisher</td>
                        <td>{{game.publisher}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Developer</td>
                        <td>{{game.developer}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Release Date</td>
                        <td>{{game.release_date|format_date}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Game URL</td>
                        <td><a href="{{game.game_url}}">Go to game page</a></td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Free To Game Profile URL</td>
                        <td><a href="{{game.freetogame_profile_url}}">Go to profile game</a></td>
                    </tr>
                </tbody>
            </table>

            <h3 class="text-center mt-5">Minimum System Requirements</h3>
            <div class="row mt-5">
                <div class="col ps-5">
                    <span class="text-secondary">Operation System</span>
                    <p>{{game.minimum_system_requirements.os}}</p>
                </div>
                <div class="col">
                    <span class="text-secondary">Processor</span>
                    <p>{{game.minimum_system_requirements.processor}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col ps-5">
                    <span class="text-secondary">Memory</span>
                    <p>{{game.minimum_system_requirements.memory}}</p>
                </div>
                <div class="col">
                    <span class="text-secondary">Graphics</span>
                    <p>{{game.minimum_system_requirements.graphics}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col ps-5">
                    <span class="text-secondary">Storage</span>
                    <p>{{game.minimum_system_requirements.storage}}</p>
                </div>
            </div>

            <h3 class="text-center mt-5">ScreenShots</h3>

            <!-- Carrossel -->
            <div class="slideshow-container">

                <!-- Full-width images with number and caption text -->
                {% for item in game.screenshots %}
                <div class="mySlides">
                    <img src="{{item.image}}" style="width:100%">
                </div>
                {% endfor %}

                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>

        </div>

    </div>
</section>

{% endblock %}