{% extends 'base.html' %}
{% load lr_filters %}


{% block content %}
    <!-- Thubnail do site -->
    <section class="py-5 pb-0 text-center bg d-flex align-items-end justify-content-center" style="min-height: 250px;">
        <div class="row py-lg-1" style="display: block; width: 100%;">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light text-white">FreeToGame API</h1>
            </div>
        </div>
    </section>

    <div class="d-flex flex-wrap justify-content-end mx-4 px-5 pt-5">
    
        <!-- Formulário de pesquisa -->
        <form class="row d-flex mb-2">
            <div class="" style="width: 80%;">
                <input type="text" class="form-control" id="" placeholder="Search" name="search"
                {% if request.GET.search %} value="{{ request.GET.search }}" {% endif %}>
            </div>
            <div class="" style="width: 20%; padding: 0;">
                <button type="submit" class="btn btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                </button>
            </div>
        </form>
        <!-- Link para o formulário de filtros -->
        <button class="btn btn-dark ms-2 mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="collapseExample">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
            </svg>
        </button>

    </div>

    <!-- Formulário de filtros -->
    <div class="collapse mx-4" id="filters">
        <div class="card card-body mx-5 mt-2">
            
            <!-- Filtros -->
            <div class="row my-2 mx-5">
                <form action="">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
                        <div class="col mb-2">
                            <div class="form-floating">
                                <select name="plataforma" class="form-select" id="" aria-label="Floating label select example">
                                    <option value="" {% if request.GET.plataforma == "" %} selected {% endif %}></option>
                                    <option value="all" {% if request.GET.plataforma == "all" %} selected {% endif %}>All</option>
                                    <option value="browser" {% if request.GET.plataforma == "browser" %} selected {% endif %}>Browser
                                    </option>
                                    <option value="pc" {% if request.GET.plataforma == "pc" %} selected {% endif %}>PC</option>
                                </select>
                                <label for="floatingSelect" class="">Platform</label>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="form-floating">
                                <select name="categoria" class="form-select" id="" aria-label="Floating label select example">
                                    <option value="" {% if request.GET.categoria == "" %} selected {% endif %}></option>
                                    <option value="mmorpg" {% if request.GET.categoria == "mmorpg" %} selected {% endif %}>mmorpg
                                    </option>
                                    <option value="shooter" {% if request.GET.categoria == "shooter" %} selected {% endif %}>shooter
                                    </option>
                                    <option value="strategy" {% if request.GET.categoria == "strategy" %} selected {% endif %}>
                                        strategy</option>
                                    <option value="moba" {% if request.GET.categoria == "moba" %} selected {% endif %}>moba</option>
                                    <option value="racing" {% if request.GET.categoria == "racing" %} selected {% endif %}>racing
                                    </option>
                                    <option value="sports" {% if request.GET.categoria == "sports" %} selected {% endif %}>sports
                                    </option>
                                    <option value="social" {% if request.GET.categoria == "social" %} selected {% endif %}>social
                                    </option>
                                    <option value="sandbox" {% if request.GET.categoria == "sandbox" %} selected {% endif %}>sandbox
                                    </option>
                                    <option value="open-world" {% if request.GET.categoria == "open-world" %} selected {% endif %}>
                                        open-world</option>
                                    <option value="survival" {% if request.GET.categoria == "survival" %} selected {% endif %}>
                                        survival</option>
                                    <option value="pvp" {% if request.GET.categoria == "pvp" %} selected {% endif %}>pvp</option>
                                    <option value="pve" {% if request.GET.categoria == "pve" %} selected {% endif %}>pve</option>
                                    <option value="pixel" {% if request.GET.categoria == "pixel" %} selected {% endif %}>pixel
                                    </option>
                                    <option value="voxel" {% if request.GET.categoria == "voxel" %} selected {% endif %}>voxel
                                    </option>
                                    <option value="zombie" {% if request.GET.categoria == "zombie" %} selected {% endif %}>zombie
                                    </option>
                                    <option value="turn-based" {% if request.GET.categoria == "turn-based" %} selected {% endif %}>
                                        turn-based</option>
                                    <option value="first-person" {% if request.GET.categoria == "first-person" %} selected {% endif %}>first-person</option>
                                    <option value="third-Person" {% if request.GET.categoria == "third-Person" %} selected {% endif %}>third-Person</option>

                                </select>
                                <label for="floatingSelect" class="">Category</label>
                            </div>
                        </div>
                        <div class="col mb-2">

                            <div class="form-floating">
                                <select name="ordem" class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option value="" {% if request.GET.ordem == "" %} selected {% endif %}></option>
                                    <option value="release-date" {% if request.GET.ordem == "release-date" %} selected {% endif %}>
                                        Release Date</option>
                                    <option value="popularity" {% if request.GET.ordem == "popularity" %} selected {% endif %}>
                                        Popularity</option>
                                    <option value="alphabetical" {% if request.GET.ordem == "alphabetical" %} selected {% endif %}>
                                        Alphabetical</option>
                                    <option value="relevance" {% if request.GET.ordem == "relevance" %} selected {% endif %}>Relevance
                                    </option>
                                </select>
                                <label for="floatingSelect" class="">Sort</label>
                            </div>

                        </div>
                        <div class="col d-flex align-items-center justify-content-center">

                            <button type="submit" class="btn btn-dark"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                                Search</button>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- Games -->
    {% if games %}
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for game in games %}

                <div class="col">
                    <div class="card shadow-sm row-heigth">
                        <!-- Card Image -->
                        <a href="{% url 'detalhes' game.id %}">
                            <img class="bd-placeholder-img card-img-top" src="{{game.thumbnail}}" alt="image game">
                        </a>
                        <!-- Card body -->
                        <div class="card-body card-body-align">
                            <h6 class="card-title">{{game.title}}</h6>
                            <p class="card-text">{{game.short_description}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'detalhes' game.id %}" class="me-1">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                            </svg>
                                            Details
                                        </button>
                                    </a>
                                    <a href="{% url 'savegame' game.id %}">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z" />
                                            </svg>
                                            Save
                                        </button>
                                    </a>
                                </div>
                                <small class="text-muted">{{game.release_date|format_date}} | {{game.genre}}</small>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>

        <!-- Paginação -->
        <nav aria-label="Page navigation example" class="mt-5 pt-3 d-flex justify-content-center">
            <ul class="pagination">
                {% if games.has_previous %}
                    {% if request.GET.search %}
                    <li class="page-item "><a class="page-link text-dark"
                        href="?search={{request.GET.search}}&page={{games.previous_page_number}}">Anterior</a>
                    </li>
                    <li class="page-item "><a class="page-link text-dark"
                        href="?search={{request.GET.search}}&page={{games.previous_page_number}}">{{games.previous_page_number}}</a>
                    </li>
                    {% elif request.GET.plataforma or request.GET.categoria or request.GET.ordem %}
                        <li class="page-item "><a class="page-link text-dark"
                                href="?plataforma={{request.GET.plataforma}}&categoria={{request.GET.categoria}}&ordem={{request.GET.ordem}}&page={{games.previous_page_number}}">Anterior</a>
                        </li>
                        <li class="page-item "><a class="page-link text-dark"
                                href="?plataforma={{request.GET.plataforma}}&categoria={{request.GET.categoria}}&ordem={{request.GET.ordem}}&page={{games.previous_page_number}}">{{games.previous_page_number}}</a>
                        </li>
                    {% else %}
                        <li class="page-item "><a class="page-link text-dark"
                                href="?page={{games.previous_page_number}}">Anterior</a>
                        </li>
                        <li class="page-item "><a class="page-link text-dark"
                                href="?page={{games.previous_page_number}}">{{games.previous_page_number}}</a>
                        </li>
                    {% endif %}
                {% endif %}

                <li class="page-item"><a class="page-link bg-dark fw-bold text-white" href="#">{{games.number}}</a></li>

                {% if games.has_next %}
                    {% if request.GET.search %}
                    <li class="page-item">
                        <a class="page-link text-dark"
                            href="?search={{request.GET.search}}&page={{games.next_page_number}}">{{games.next_page_number}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-dark"
                            href="?search={{request.GET.search}}&page={{games.next_page_number}}">Próxima</a>
                    </li>
                    {% elif request.GET.plataforma or request.GET.categoria or request.GET.ordem %}
                        <li class="page-item">
                            <a class="page-link text-dark"
                                href="?plataforma={{request.GET.plataforma}}&categoria={{request.GET.categoria}}&ordem={{request.GET.ordem}}&page={{games.next_page_number}}">{{games.next_page_number}}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link text-dark"
                                href="?plataforma={{request.GET.plataforma}}&categoria={{request.GET.categoria}}&ordem={{request.GET.ordem}}&page={{games.next_page_number}}">Próxima</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link text-dark" href="?page={{games.next_page_number}}">{{games.next_page_number}}</a>
                        </li>
                        <li class="page-item"><a class="page-link text-dark" href="?page={{games.next_page_number}}">Próxima</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="page-item d-flex justify-content-center align-items-center ps-3">
                    <span class="text-dark">Página {{games.number}} de {{games.paginator.num_pages }}</span>
                </li>
            </ul>
        </nav>
    </div>
    {% else %}
    <div class="my-5 d-flex flex-column align-items-center justify-content-center" style="min-height: 50vh;">
        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        <h2 class="text-center mt-3">Sorry! No results found :( </h2>
        <p class="text-secondary text-center">We are sorry what you were lookink for. Please try another way.</p>
    </div>
    {% endif %}
{% endblock %}